{namespace pw=PwCommentsTeam\PwComments\ViewHelpers}
<f:form.validationResults>
	<f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyName">
		<f:for each="{errors -> pw:arrayUnique()}" as="error">
			<div class="comment_error alert alert-danger">{error.message}</div>
		</f:for>
	</f:for>
</f:form.validationResults>
